body {
  /*margin: 1rem 10rem;*/
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:visited{
    color:grey;
}

header{
    padding: 1rem 10rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.8rem rgba(200, 200, 200,0.8);
}

    header ul{
        display:flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        white-space: nowrap;
        align-items: center;
        text-overflow: ellipsis;
        width:25%;
    }
        header ul li:nth-of-type(1){
            margin:0 1rem;
        }
        header ul li:nth-of-type(2){
            margin:0 1rem;
        }
        header ul li:nth-of-type(3){
            margin:0 1rem;
        }
        header ul li:last-of-type{
            margin:0 1rem;
        }

    
    #userProfile a:visited{color:white; }

/*------------MAIN----------*/    
main{
    margin: 0 10rem;
    display: flex;
}

    div#colonnaPrincipale{
        width: 70%;
        margin-right: 2rem;
        padding-top: 4rem;
    }
    
    div#colonnaLaterale{
        width:30%;
        margin-left: 2rem;
        padding-top: 4rem;
        padding-left: 4rem;
        border-left:1px solid rgba(200, 200, 200,0.8);
        font-size: 0.9rem;
        height:fit-content;

        position: sticky;
        top:-19.5rem;
    }

/*Nav bar*/

    #bachecaNav{
        display: flex;
        flex-direction:row;
        justify-content:flex-start;
    }

        #bachecaNav>p{
            margin: auto 0;
            font-size: 0.8rem;
            font-weight: 700;
            padding: 0 1rem 1rem 1rem;
            border-bottom: 1px solid rgba(200, 200, 200,0.8);
            color: grey;
        }

        #bachecaNav>p:nth-of-type(2){
            color: black;
            border-bottom: 1px solid black;
            flex-wrap: nowrap;
            white-space: nowrap;
        }

        #bachecaNav>p:nth-of-type(2)>a:visited{
            color: black;            
        }

        #bachecaNav>p:last-of-type{
            width: 100%;
            margin:0;

        }

/*BACHECA*/
    .articolo{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .articoloColonna1{
        display: flex;
        flex-direction: column;
        width: 75%;
        color: grey;
    }

        .articoloColonna1 a:visited{
            color: black;
        }

        .articoloColonna1 h2{
        font-weight: 700;
        font-size: 1.2rem;
        text-overflow: ellipsis;
        padding:0 0 0.5rem;
        color: black;
        }

    .articoloExtract {
        /*font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;*/
        text-overflow: ellipsis;
        font-size: 1rem;
        color: grey;
    }
        .articoloExtract>a:visited{
            color: grey;
        }

    .articoloSmallData{
        display: flex;
        justify-content: space-between;
        padding: 0.3rem 0 0 0;
        
    }
        .articoloSmallData a:visited{
            color: grey;
        }

            .articoloSmallData>div{
                display: flex;
                align-items: center;
                font-size: 0.8rem;
            }

                .articoloSmallData>div p{
                    padding: 0.5em 0.5em 0.5em 0;
                }
                .articoloSmallData>div p:nth-last-child(2){
                    padding: 0.5em;
                }

            .articoloSmallData>ul {
                display: flex;
                align-items: center;        
            }

                .articoloSmallData>ul li{
                    padding: 1em 1em 0 0;
                } 

        .smallTag{
                background-color: rgba(200, 200, 200,0.8);
                border-radius: 1em;
                padding:0.5em !important;
                /*padding: 0.5rem;*/
        }

        .articoloColonna2{
            width: 25%;
        }
        .articoloColonna2>img{
            width: 100%;
            height: auto;
        }



/*----------SIDE SECTION------------*/
/*font size reference in --main--*/

.sideSection h2 {
  font-size: 1.1em;
  font-weight: 700;
  text-overflow: ellipsis;
  padding-bottom: 1em;
}

.sideSection h2 a:visited{
    color: black;
}
.userSmallData{
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
.userSmallData p{
    padding: 1.5em 1em 1em 0.5em;
    flex-wrap: nowrap;
}
.userSmallData span {
  font-weight: 600;
}
.userSmallData span a:visited{
    color: black;
}
/*-----WITHTWITTER----------*/
#withTwitter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(210, 210, 210,0.8);

}
    #withTwitter>h2>img{
        width: 30%;
        height: auto;
    }
    #withTwitter>p{
        padding: 1em;
    }

    #withTwitter>div{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 60%;
        white-space: nowrap;
        margin:0 auto;
    }
    #withTwitter>div>a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #withTwitter>div>a>img{
        width: 10%;
        height: auto;
        padding-right: 1em;
    }
#withTwitter>a{
    text-decoration:underline;
}


/*------RECOMMENDED TOPICS-----*/

    #racommendedTopics{
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #topics {
        display: flex;
        flex-wrap: wrap;
        
    }

        #topics div {
            display: inline-block;
            background-color: rgba(200, 200, 200,0.8);
            border-radius: 1em;
            padding: 0.5em;
            margin: 0.5em;
        }

.simpleButton a {
  display: inline-block;
  color: rgb(77, 77, 77);
  border: 1px solid grey;
  border-radius: 2em;
  padding: 0.5em;
}

/*----WHOTOFOLLOW----*/

#whoToFollow{
    display: flex;
    flex-direction: column;
}

    #whoToFollow>div{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1em 0;
    }
    #whoToFollow>div>img
    {
        width: 15%;
        height: auto;
    }
    #whoToFollow>div>div{
        flex-grow: 2;
        padding-left: 1em;
    }
    #whoToFollow>div>div>p
    {
        font-size: 0.8em;
        padding: 0.5em 0;
        color:gray;
    }
    #whoToFollow>div>div>p:first-of-type
    {
        font-weight: 700;
        color: black;
    }

/*------RECENTLYSAVED-------*/

#recentlySaved{
    margin-top: 3em;
    margin-bottom: 3em;
}

#recentlySaved h3 {
    font-weight: 600;
  }

#recentlySaved a:visited{
        color: black;
    }  
.savedArticle{
    padding: 0.5em 0;
}
.savedSmallData{
    display: flex;
    padding: 0.8em 0;
    color: grey;   
}
.savedSmallData *{
    padding: 0.3em 0.5em 0 0;
    font-size: 0.8em;

}
  
  #savedArticleLink {
      color: green;
      margin: 1em 0;
  }
  #savedArticleLink:visited{
        color: green !important; 
  }

/*------FOOTER------*/

footer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:1em;
}
footer div{
    margin: 0.5em;

}

